a {
    text-decoration: none;
}

u:hover {
    font-weight: bold;
}

a:link {
    color: yellow;
}

a:visited {
    color: goldenrod;
}

iframe {
    display: block;
    border: none;
    height: 80vh;
    width: 100%;
}

.fractal-zoom {
    transform: scale(6);
}

.fractal-mobile-zoom {
    transform: scale(3);
}

.show-controls {
    z-index: 2;
    padding: 37px 0px 0px 0px !important;
    transform: scale(0.75) !important;
}

.show-button {
    padding: 5px;
}

.tab-buttons {
    position: fixed;
    left: 50%;
    right: 50%;
    z-index: 5;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.WhiteSquare {
    color: black;
    padding: 20px;
    display: inline-block;
    background-color: red;
    position: relative;
    transition: all 2s ease;
}

.active-stretch {
    background-color: yellow;
    width: 800px;
}

.active-square {
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.window-translucent {
    opacity: 0 !important;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 800px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 800px;
        top: 500px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 500px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}